#get_id{
	margin-top: 200px;
}
.get_input {
	background: #ddd none repeat scroll 0 0;
	border-radius: 5px;
	box-shadow: 3px 3px 3px #ccc;
	padding: 20px;
	text-align: center;
}

.main-admin-login {
	margin-top: 170px;
}
.admin-login, .employee_regi {
	background: #ddd none repeat scroll 0 0;
	border-radius: 5px;
	box-shadow: 3px 3px 3px #ccc;
	padding: 20px;
}
.admin-login input {
	margin-bottom: 20px;
}
.admin-login div.checkbox {
	margin-top: -10px;
}

.admin-login h2, .employee_regi h2 {margin-top: 0px;text-align: center;}
.employee_regi h2 { margin-bottom: 30px;}
